* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

:root {
  --bg-clr: #fff;
  --heading-clr: rgb(71, 37, 163);
  --txt-clr: rgb(99, 92, 92);
  --box-shadow-clr: rgba(71, 37, 163, 0.3);
  --social-links-clr: rgb(99, 92, 92);
}

[data-theme="dark"] {
  --txt-clr: #fff;
  --bg-clr: rgb(12, 3, 37);
  --heading-clr: var(--txt-clr);
  --box-shadow-clr: rgb(240, 236, 236);
  --social-links-clr: var(--txt-clr);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-clr);
}

.container {
  width: 95%;
  align-self: center;
  margin-top: 1.5rem;
}

p {
  color: var(--txt-clr);
}

/*HEADER SECTION STYLES*/

nav {
  display: flex;
  padding: 1rem 1rem 0 0;
  justify-content: flex-end;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: #66bb6a;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/*MAIN CONTENT STYLES*/
main {
  margin-top: 2rem;
}

main h1 {
  font-size: 2.2rem;
  color: var(--heading-clr);
  margin-bottom: 0.6rem;
}

main p {
  font-size: 1.3rem;
  line-height: 1.8;
  margin-bottom: 1.3rem;
}

main .about-me strong {
  color: var(--heading-clr);
}

/*PROJECT PAGE STYLES*/
.project-container h1 {
  margin-bottom: 2rem;
}

.project {
  margin-bottom: 3rem;
  border-radius: 3px;
  padding: 1.3rem;
  box-shadow: 2px 3px 10px var(--box-shadow-clr);
}

.project-title {
  color: var(--heading-clr);
}

.project img {
  max-width: 100%;
  margin: 0 auto;
}

/*Project Page Media Queries*/
@media screen and (min-width: 1000px) {
  .container {
    width: 85%;
  }

  .project {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .project .project-details {
    width: 60%;
  }

  .project img {
    max-width: 400px;
    margin: 0 auto;
  }
}
/*CONTACT ME STYLES*/
.links {
  margin-top: 3rem;
}

.links h2 {
  color: var(--heading-clr);
  margin-bottom: 0.5rem;
}

ul.social-links {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

ul.social-links a i {
  font-size: 1.7rem;
  color: var(--social-links-clr);
}

ul.social-links a i:hover {
  font-size: 1.7rem;
  color: var(--heading-clr);
}

/*form styles*/
form {
  display: flex;
  margin: 4rem auto 0;
  flex-direction: column;
}

input,
textarea {
  color: rgb(71, 64, 64);
  margin-bottom: 1.3rem;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 2px solid var(--heading-clr);
}

input {
  padding: 0.7rem;
}

input[type="submit"] {
  color: white;
  border: none;
  background: var(--heading-clr);
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background: rgb(105, 62, 221);
}

/*CONTACT ME MQ'S*/
@media screen and (min-width: 800px) and (max-width: 1650px) {
  .contact-text {
    margin-right: 5rem;
  }

  .contact-form {
    width: 40%;
  }
}

@media screen and (min-width: 800px) {
  main.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 800px) {
  main.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
