* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

:root {
  --txt-clr: rgb(19, 3, 53);
  --body-bg-clr: #a1b7df;
  --heading-clr: rgb(41, 40, 40);
  --header-bg-clr: #b4c3e0;
  --box-shadow-clr: rgba(71, 37, 163, 0.3);
  --social-links-clr: var(--project-card-bg-clr);
  --slider-bg-clr: #0c0325;
  /* --about-bg-clr: #7c9ddb; */
  --projects-bg-clr: #91acdf;
  --project-card-bg-clr: #0c0325;
  --contacts-bg-clr: #769bdf;
  --strong-clr: #304161;
  --projects-txt-clr: rgb(190, 187, 187);
  --underline-clr: var(--strong-clr);
  --underline-txt-hover-clr: white;
}

[data-theme="dark"] {
  --txt-clr: #fff;
  --body-bg-clr: #404959;
  --heading-clr: var(--txt-clr);
  --header-bg-clr: #304161;
  --box-shadow-clr: #100236;
  --social-links-clr: var(--txt-clr);
  --slider-bg-clr: #bcc0e8;
  --strong-clr: #110433;
  /* --about-bg-clr: #0c0325; */
  --projects-bg-clr: #0c0325;
  --contacts-bg-clr: #070116;
  --project-card-bg-clr: #110433;
  --underline-clr: white;
  --underline-txt-hover-clr: var(--projects-bg-clr);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  padding: 3rem;
}

h3,
p:not(.about-me) {
  font-size: 1.4rem;
}

h1,
p {
  color: var(--txt-clr);
}

/*HEADER SECTION STYLES*/
header {
  background: var(--header-bg-clr);
}

nav {
  display: flex;
  padding: 1rem 0 0 0;
  justify-content: flex-end;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: var(--slider-bg-clr);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--slider-bg-clr);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/*ABOUT SECTION STYLES*/
.about-section h1,
.about-section p {
  font-size: 1.8rem;
}

div.section-content .about-me strong {
  color: var(--strong-clr);
}

/*MAIN CONTENT STYLES*/
main h2 {
  color: var(--heading-clr);
  margin-bottom: 0.6rem;
  text-transform: capitalize;
  font-size: 1.7rem;
}

main p {
  font-size: 1.3rem;
  line-height: 1.8;
}

/*PROJECT PAGE STYLES*/

.project-section {
  background: var(--projects-bg-clr);
}

.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.project {
  /* margin: 1rem; */
  border-radius: 3px;
  box-shadow: 2px 3px 10px var(--box-shadow-clr);
  background: var(--project-card-bg-clr);
}

.project p {
  color: var(--projects-txt-clr);
}

.project h3 a,
a.fe-mentor {
  color: var(--projects-txt-clr);
}

.project-details {
  padding: 1rem;
}

.project a {
  text-decoration: none;
}

.project-title {
  color: var(--heading-clr);
}

/*CONTACT ME STYLES*/
.contact-section {
  background: var(--contacts-bg-clr);
  padding-bottom: 3rem;
}

.links {
  margin-top: 3rem;
}

.links h2 {
  color: var(--heading-clr);
  margin-bottom: 0.5rem;
}

ul.social-links {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

ul.social-links a i {
  font-size: 1.7rem;
  color: var(--social-links-clr);
}

/*===========EXPERIMENTS===========*/
header h1,
main h2,
.project a.fe-mentor {
  background: linear-gradient(
    to bottom,
    var(--underline-clr) 0%,
    var(--underline-clr) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  transition: background-size 0.2s;
  display: inline-block;
}

header h1:hover,
main h2:hover,
.project a.fe-mentor:hover {
  background-size: 4px 150px;
  color: var(--underline-txt-hover-clr);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  ul.social-links {
    width: 30%;
  }
}
